@import "fonts"
@import "libs"
@import "vars"

$left: 3px solid $accent, 100%, 2px, 0, -5px, 0px solid $accent
$bottom: 0px solid $accent, 2px, 100%, -5px, 0, 3px solid $accent

@mixin boxShadow
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
	

@mixin borderSide($border-left, $height, $width, $bottom, $left, $border-bottom)
	border-left: $border-left
	border-bottom: $border-bottom
	position: relative
	&::after
		position: absolute
		content: ''
		height: $height
		width: $width
		bottom: $bottom
		left: $left
		background-color: lighten($accent, 10%)

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1
*:focus
	outline: none

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: #FFF

.hidden-up-load, .hidden-right-load, .hidden-left-load
	visibility: hidden
.visible
	visibility: visible
//Header
.header
	position: relative
	box-sizing: border-box
	height: 100%
	width: 100%
	background: #f1f1f1 url("../img/background.jpg") no-repeat center center
	background-size: cover
	.topline
		position: fixed
		padding: 9px 0 
		width: 100%
		background-color: rgba($dark, 0)
		z-index: 100
		transition: 0.3s background-color ease
		&.sticky
			background-color: rgba(#2f2d2e, .7)

		.logo 
			font-size: 0
			img
				height: 53px
		.language
			float: right
			margin-left: 40px
			font-size: 0
			li
				display: inline-block
				font-size: 16px
				color: #fff
				padding: 0 8px
				font-weight: 400
				a
					color: #fff
					line-height: 54px
					text-decoration: none
					transition: 0.3s color ease, 0.3s
					&:hover
						color: $accent
				&.selected a
					color: $accent
		.nav
			float: right
			font-size: 0
			li
				display: inline-block
				padding: 0 20px
				border-bottom: 2px solid $accent
				border-bottom: 2px solid $accent
				a
					position: relative
					font-size: 16px
					font-weight: bold
					line-height: 52px
					text-decoration: none
					color: #fff
					transition: 0.3s color ease
					&.active, &:hover
						color: $accent
					&.active:after
						content: ""
						position: absolute
						width: 0
						height: 0
						top: 100%
						left: 50%
						margin-left: -7px
						margin-top: 12px
						border-left: 7px solid transparent
						border-right: 7px solid transparent
						border-bottom: 7px solid $accent
	.bar-icon
		position: fixed
		top: 0
		right: 0
		z-index: 2
		width: 115px
		padding: 10px 40px
		display: none
		cursor: pointer
		transition: 0.3s background-color ease
		&.sticky
			background-color: rgba(#2f2d2e, .7)
		.bar1, .bar2, .bar3 
			width: 35px
			height: 3px
			background-color: #fff
			margin: 6px 0
			transition: 0.4s
		&.change .bar1 
			transform: rotate(315deg) translate(-7px, 6px) 
		&.change .bar2
			opacity: 0
		&.change .bar3 
			transform: rotate(-315deg) translate(-6px, -6px) 

	
	.welcome-wrapper
		height: 100%
	.welcome
		height: 100%
		display: flex
		flex-flow: column wrap
		justify-content: center
		align-items: center
		.button
			animation-delay: 0.7s
		.text
			color: #fff
			.num
				display: block
				width: 100%
				position: relative
				font-size: 12rem
			.percent
				display: inline-block
				position: absolute
				font-size: 5rem
				line-height: 12rem
				color: $accent
			.success
				font-size: 2.5rem
				position: absolute
				right: 0.125rem
				top: 7.2rem
			.title
				text-align: right
				display: block
				width: 100%
				font-size: 54px
	
.button
	display: inline-block
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 15px 45px
	font-size: 13px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 3px
	border-radius: 2px
	text-align: center
	position: relative
	outline: none
	cursor: pointer
	transition: background-color .1s ease
	&::after
		transition: background-color .2s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accent, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: darken($accent, 10%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 10%)
		&::after
			opacity: .32

//About Us
.section-title
	text-align: center
	div
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
		display: inline-block
		padding: 20px 20px 10px
		margin-top: 90px
		margin-bottom: 80px
		font-size: 50px
		font-weight: 700
		background: $accent  linear-gradient(to bottom right, lighten($accent, 5%) 50%, $accent 50%)
		transform: rotate(355deg)
		a
			display: inline-block
			text-decoration: none
			color: #fff
			transform: rotate(5deg)
.about
	.avatar 
		margin-top: 66px
		img
			position: relative
			max-width: 450px
			width: 100%
			height: 100%
			max-height: 450px
			box-shadow: -66px -66px 0px 0px $accent
			border: 5px solid rgba(255, 255, 255, 0.5)
	.info
		margin-top: 66px
		h1
			color: $dark
			font-size: 30px
			font-weight: 700
			margin-top: 5px
			margin-bottom: 60px

			span
				@include borderSide($bottom...)
				padding-bottom: 15px
		p
			margin: 0 0 45px 0
			color: $grey
			font-weight: 700
			line-height: 25px
		.missions
			margin: 0 0 45px 0
			@include borderSide($left...)
			left: 2px
			padding-left: 15px
			font-size: 20px
			color: $grey
			p
				margin-bottom: 0
			span
				font-weight: 800
				color: $dark
		.browse
			display: inline-block
			color: $dark
			font-size: 18px
			box-sizing: border-box
			font-weight: 700
			padding: 12px 20px
			text-decoration: none
			border: 3px solid #393c41
			@include boxShadow
			i
				padding-right: 8px
	.skills
		text-align: center
		margin-top: 80px
		.progressbar
			width: 100px
			height: 100px
			position: relative
			margin: 0 auto
			i
				@include boxShadow
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				text-align: center
				font-size: 28px
				line-height: 100px
				color: $accent
				border-radius: 50%
		h2
			margin: 30px 0 0 0
			font-size: 20px
			font-weight: 700
			color: $dark
		p
			margin: 30px 0 0 0
			font-size: 16px
			font-weight: 400
			color: $grey
.skills-slider 
	margin: 80px 0	
	img
		height: 100px
		padding: 20px 30px
		opacity: 0.2
		filter: grayscale(50%)
.recent-works
	margin-bottom: 40px
	#portfolio-item-selected
		padding-top: 75px
		margin-top: -75px
	.project-img 
		img
			transition: 0.3s
			width: 100%
			position: relative
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
		div
			position: relative
			&:after
				content: ""
				display: block
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: rgba(0, 0, 0, 0.4) url("../img/cd-icon-zoom.svg") no-repeat center center
				z-index: 4
				opacity: 0
				transition: opacity 0.2s
			&:hover::after 
				opacity: 1
	.project-info
		padding: 20px
		h2
			color: $dark
			font-size: 30px
			font-weight: 700
			margin: 0 0 60px 0
			.underline
				@include borderSide($bottom...)
				padding-bottom: 15px
		p
			color: $grey
			font-size: 18px
			line-height: 24px
		ul
			font-size: 0
			padding-top: 20px
			li
				// font-family: Arial
				color: $dark
				padding: 10px 20px 10px 0
				font-size: 20px
				line-height: 25px
				// background-color: green
				display: inline-block
				i
					border-radius: 50%
					padding: 5px
					margin-right: 10px
					border: 2px solid $accent
					color: $accent
		
.owl-carousel.projects-slider
	padding: 0 80px
	.owl-stage
		padding-bottom: 15px
	.owl-item
		cursor: pointer
		border: 4px solid #fff
		transition: .3s
		&:hover
			@include boxShadow
		.project-sm-info
			position: absolute
			display: none
			top: 0
			left: 0
			background-color: rgba($dark, .6)
			width: 100%
			height: 100%
			padding-top: 45%
			text-align: center
			h2
				font-size: 36px
				color: #fff
				font-weight: bold
				margin-bottom: 20px
			
		&.center
			border: 4px solid $accent
			.project-sm-info
				display: inline-block
	&.owl-theme .owl-dots .owl-dot
		span
			background-color: $grey
		&.active span, &:hover span 
			background: $accent
	&.owl-theme .owl-nav [class*='owl-']
		position: absolute
		top: 50%
		transform: translateY(-50%)
		color: $grey
		background-color: #fff
		transition: 0.3s color ease
		i
			font-size: 50px
		&.disabled:hover
			color: $grey
		&.owl-prev
			left: 20px
		&.owl-next	
			right: 20px
		&:hover
			color: $accent
			background-color: #fff

.mfp-zoom-in
	.mfp-with-anim
		opacity: 0
		transition: all 0.2s ease-in-out 
		transform: scale(0.8) 
	&.mfp-bg
		opacity: 0
		transition: all 0.3s ease-out
	&.mfp-ready 
		.mfp-with-anim 
			opacity: 1
			transform: scale(1) 
		&.mfp-bg
			opacity: 0.8
	&.mfp-removing 
		.mfp-with-anim 
			transform: scale(0.8) 
			opacity: 0
		&.mfp-bg
			opacity: 0
.mfp-arrow
	opacity: 1
	&.mfp-arrow-right
		&:after
			border-left-color: rgba($grey, 0.75)
			transition: .2s
		&:hover:after
			border-left-color: rgba($accent, 0.9)
			

	&.mfp-arrow-left
		&:after
			border-right-color: rgba($grey, .75)
			transition: .2s
		&:hover:after
			border-right-color: rgba($accent, .9)
.mfp-zoom-out-cur .mfp-image-holder .mfp-close
	cursor: pointer

//OUR TEAM

.our-team
	.employee
		margin-bottom: 40px
		.employee-img
			display: inline-block
			position: relative
			width: 45.5%
			float: left
			font-size: 0
			@include boxShadow
			img
				width: 100%
				height: 100%
			&:after
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				transition: 0.3s background-color ease
				background-color: rgba($accent, .0)
			&:hover
				&:after
					background-color: rgba($accent, .3)
				.contacts
					opacity: 1

			.contacts
				position: absolute
				top: 50%
				transform: translateY(-50%)
				left: 0
				right: 0
				text-align: center
				transition: 0.3s opacity ease
				opacity: 0
				z-index: 9
				i
					color: #fff
					background-color: $accent
					width: 40px
					text-align: center
					font-size: 14px
					line-height: 40px
					margin: 0 5px
					transition: .3s
					&:hover
						@include boxShadow
						transform: scale(1.2)

		.employee-info
			float: right
			display: inline-block
			width: 50%
			h2
				font-size: 20px
				font-weight: 700
				color: $dark
				padding-top: 22px
				padding-bottom: 10px
			span
				display: inline-block
				font-size: 16px
				font-weight: 700
				color: $grey	
				padding-bottom: 22px
			p
				font-size: 16px
				color: $grey

				font-weight: 400
				line-height: 20px
// FOOTER
.rights
	background-color: #0f0f15
	padding: 40px
	font-size: 18px
	color: $grey
.footer
	font-size: 0
	color: #eaeaea
	background-color: $black
	padding: 90px 0 40px 0
	
	h2
		color: $accent
		font-size: 20px
		font-weight: 700
		margin-bottom: 20px
	p
		margin-bottom: 20px
		font-size: 14px
		line-height: 20px
		color: $grey
	li, li>a
		color: $grey
		font-size: 14px
		line-height: 20px
		padding: 5px 0
		text-decoration: none
		transition: 0.3s ease color
		&:hover
			color: $accent
		i
			text-align: center
			width: 12px
			font-size: 16px
			color: $accent
		a
			margin-left: 15px
	.aecs
		img
			text-align: center
			width: 100px
	.keep-in
		i
			color: $grey
			font-size: 20px
			transition: 0.3s ease color
			padding-right: 10px
			&:hover
				color: $accent
		input
			border-radius: 0
			display: inline-block
			border: none
			outline: none
			background-color: inherit
			border-bottom: 1px solid $accent
			color: $grey
			line-height: 22px
			padding: 8px
		input[type=text]
			width: 70%
			display: inline-block
			margin-bottom: 20px
		input[type=submit]
			width: 30%
			cursor: pointer
			transition: 0.5s ease background-color, 0.5s ease color
			&:hover
				color: #fff
				background-color: $accent
	

			


@import "media" // alwayse in the END
